/* ========== ОБЩИЕ НАСТРОЙКИ ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}
/* ========== ПЕРВЫЙ ЭКРАН (ШАПКА) ========== */
.promo {
    height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
    text-align: center;
    position: relative;
}

.logo_img {
    display: block;
    margin: 0 auto;
}

.logo_text {
    margin-top: 14px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h1.title {
    margin-top: 53px;
    color: #f9bf3b;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.simple {
    margin-top: 21px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.simple::before,
.simple::after {
    content: '';
    height: 1px;
    background-color: #fff;
    width: 250px; /* Длина полосок как на картинке */
    flex-shrink: 0;
}

.simple .title_big {
    color: #fff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    flex-shrink: 0;
    padding: 0; /* Убираем padding */
}
/* УБИРАЕМ ЭТУ ЖЕЛТУЮ ПОЛОСКУ */
.line {
    display: none;
}

h2.title {
    margin-top: 30px;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.promo_text {
    margin-top: 23px;
    color: #fff;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    padding: 0 15px;
}

.promo_text span {
    color: #f9bf3b;
    font-weight: 700;
}

.promo_btn {
    display: block;
    margin: 73px auto 0 auto;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid #2798b9;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.promo_btn:hover {
    background: #2798b9;
}

/* Стрелка вниз */
.more {
    margin-top: 40px;
    text-align: center;
}

.more_text {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.more_img {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* ========== БЛОК «ЧТО ВАС ЖДЕТ» ========== */
.waiting {
    min-height: 684px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
    text-align: center;
}

.waiting_header {
    font-size: 30px;
    font-weight: 900;
    color: #252525;
    text-transform: uppercase;
}

.waiting_divider {
    width: 70px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 20px auto;
}

.waiting_subheader {
    font-size: 23px;
    color: #4a4a4a;
    margin-top: 18px;
}

.waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting_item {
    width: 360px;
    text-align: center;
}

.waiting_img {
    width: 100%;
}

.waiting_descr {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 21px;
}

/* ========== ИНФОРМАЦИОННЫЙ БЛОК (ОПТИМИЗАЦИЯ) ========== */
.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
    position: relative;
    overflow: hidden;
}

/* Фоновая картинка женщины - оставляем как было */
.optimization::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 100%;
    height: 100%;
    background: url('../img/bg/woman_bg.jpg') left center/contain no-repeat;
    z-index: -1;
}

.optimization_header {
    font-size: 30px;
    font-weight: 900;
    color: #299cbd;
    margin-left: 450px;
    text-transform: uppercase;
    max-width: 650px;
}

.optimization_text {
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 27px;
    margin-left: 450px;
    max-width: 650px;
}

.optimization_text span {
    font-weight: 700;
}

/* ========== БЛОК РЕЗУЛЬТАТОВ ========== */
.finish {
    min-height: 550px;
    background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
    padding: 102px 0 107px 0;
    text-align: center;
}

.finish_header {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 18px auto 0 auto;
}

.finish_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}

.finish_item {
    width: 20%;
    text-align: center;
    margin-top: 40px;
}

.finish_round {
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.finish_descr {
    margin-top: 25px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
}

/* ========== БЛОК БОНУСЫ И ПОДАРКИ ========== */
.bonus {
    min-height: 400px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
    text-align: center;
}

.gift_img {
    display: block;
    margin: 0 auto;
}

.bonus_text {
    margin-top: 45px;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
    line-height: 36px;
    padding: 0 100px;
}

.bonus_btn {
    margin-top: 45px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    border: 4px solid #2798b9;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.bonus_btn:hover {
    background: #2798b9;
}

/* ========== БЛОК ДАТА И ВРЕМЯ ========== */
.webinar {
    min-height: 500px;
    background-color: #fff;
    padding: 85px 0 75px 0;
    text-align: center;
}

.webinar_img {
    display: block;
    margin: 0 auto 45px auto;
}

.webinar_header {
    font-size: 30px;
    font-weight: 400;
    color: #252525;
    text-transform: uppercase;
}

.webinar_date {
    margin-top: 25px;
    font-size: 36px;
    font-weight: 900;
    color: #299cbd;
    text-transform: uppercase;
}

.webinar_text {
    margin-top: 25px;
    font-size: 23px;
    font-weight: 400;
    color: #4a4a4a;
}

/* ========== ФУТЕР ========== */
.footer {
    min-height: 150px;
    background-color: #1a1a1a;
    padding: 55px 0 40px 0;
    text-align: center;
}

.footer_links {
    font-size: 15px;
    font-weight: 300;
    color: #888888;
}

.footer_links a {
    color: #888888;
    text-decoration: none;
}

.footer_copyright {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
    color: #888888;
    line-height: 24px;
}